.mixin.out
.vscode
astralsorcery
backups
crash-reports
downloads
journeymap
local
logs
mods
orbis
resourcepacks
resources
saves
screenshots
valkyrielib
.curseclient
avaritiarecipemakeroutput.txt
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
